services:
  db:
    container_name: postgis
    hostname: postgis
    image: postgis/postgis:17-3.4
    env_file:
      - ./db/.env
    volumes:
      - postgis:/var/lib/postgis/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -q -d postgres -U nathan"]
      interval: 10s
      timeout: 5s
      retries: 10

  data-pipeline:
    image: data-pipeline
    container_name: data-pipeline
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    command: ["python3", "main.py"]

  metabase-backend:
    image: metabase-backend
    container_name: metabase-backend
    build: 
      context: ./metabase/backend
      dockerfile: Dockerfile
    env_file:
      - ./metabase/backend/.env
    volumes:
      - metabase-backend:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -q -d postgres -U metabase"]
      interval: 10s
      timeout: 5s
      retries: 10
    ports:
      - "1132:5432"

  metabase:
    image: metabase/metabase:v0.55.x
    container_name: metabase
    env_file:
      - ./metabase/.env
    volumes:
      - metabase:/metabase-data
    ports:
      - "3000:3000"
    depends_on:
      metabase-backend:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
      interval: 10s
      timeout: 5s
      retries: 12

  init-metabase:
    image: data-pipeline
    container_name: init-metabase
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      - PYTHONPATH=/app
    depends_on:
      metabase:
        condition: service_healthy
    command: ["python3", "./metabase-api/main.py"]
    restart: on-failure:3

volumes:
  postgis:
  metabase-backend:
  metabase:
